*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display:flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    border: solid 1px;
    padding: 2rem;
    margin-top: 1rem;
}

button{
    padding-left: 2rem;
    padding-right: 2rem;
}

h1{
    text-align: center;
}

table{
    
    justify-content: center;
   border: solid 1px;
   padding: 2rem;
   margin: 2rem;
}

th,td{
    padding-left: 20px; 
    
}

